#profile_card {
  display: flex;
  margin: 30px 0;
}

#profile_user_image {
  margin: 10px;
  height: 125px;
  width: 125px;
  align-self: center;
}
#profile_user_info {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profile_info {
  margin: 10px 0;
}
