#friendview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.friendview_friend {
  margin: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}

#friendview_friend_img {
  width: 250px;
}

#friendview_name {
  margin: 0px;
}

#friendview_container {
  display: flex;
  justify-content: center;
}

#friendview_form_group {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 20px;
}

#friendview_form_row2 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

#friendView_tabs {
  margin-bottom: 50px;
  width: 75%;
  border-radius: 15px;
}

/* TIMELINES */

#timeline_timeline_container2 {
  margin-top: 50px;
  max-width: 75%;
  border-radius: 15px;
}

.timeline_message_sent,
.timeline_message_recieved {
  width: 90%;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
}

.timeline_message_sent {
  background-color: lightgreen;
}

.timeline_message_recieved_div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.timeline_message_recieved {
  background-color: lightblue;
}
