/* * {
  border: 1px solid black;
} */
#timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timeline_friend_container {
  text-align: center;
}
#timeline_friendname {
  margin-top: 0;
}

.timeline_friend {
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 25px;
}

#timeline_portrait {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

/* MESSAGE */
.timeline_message_container {
  width: 50%;
  border-radius: 8%;
  padding: 20px;
  margin: 20px;
}

.timeline_message_text {
  display: flex;
  justify-content: space-between;
}

.timeline_message_title {
  font-size: 16px;
}

.timeline_message_body {
  font-size: 20px;
}

.emoji {
  font-size: 40px;
}

/* SEND BUTTON STYLES */

.send_button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: green;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5%;
  top: 50%;
  color: white;
}

#send_icon {
  font-size: 50px;
  margin-left: 12px;
}

.send_button:hover {
  cursor: pointer;
  background-color: rgb(94, 209, 94);
}

.send_button:active {
  background-color: rgb(33, 163, 33);
}
