#AddFriendModal_submit_btn {
  background-color: green;
  color: white;
  font-size: 22px;
}

#add_friend_modal {
  border-radius: 15px;
  outline: none;
}

.add_button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: green;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5%;
  top: 50%;
}
.add_button:hover {
  cursor: pointer;
  background-color: rgb(94, 209, 94);
}

.add_button:active {
  background-color: rgb(33, 163, 33);
}

.add_button_icon {
  margin-top: 50px;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
