*:focus {
  outline: none;
}

.message-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  height: 69vh;
}

/* iPhone X - 375*812 - Pixel 2*/
@media screen and (min-width: 374px) and (max-width: 413px),
  screen and (max-height: 812px) {
  .message-container {
    height: 65vh;
  }
}

/* iPhone 6/7/8 Plus - 414*736 */
@media screen and (min-width: 414px), screen and (max-height: 736px) {
  .message-container {
    height: 61vh;
  }
}

/* iPhone 6/7/8 - 375*667 */
@media screen and (max-width: 315px), screen and (max-height: 667px) {
  .message-container {
    height: 57vh;
  }
}

/* iPhone 5/SE - 320*568 */
@media screen and (max-width: 320px), screen and (max-height: 568px) {
  .message-container {
    height: 49vh;
  }
}

@media (min-width: 1366px) and (min-height: 768px) {
  .message-container {
    height: 69.5vh;
  }
}

@media (min-width: 1920px) and (min-height: 1080px) {
  .message-container {
    height: 74vh;
  }
}
/* iPad Pro */
@media (width: 1024px) and (height: 1366px) {
  .message-container {
    height: 79vh;
  }
}

/* iPad  */
@media (width: 768px) and (height: 1024px) {
  .message-container {
    height: 72vh;
  }
}
@media (width: 1280px) and (height: 1024px) {
  .message-container {
    height: 72vh;
  }
}

@media (width: 1366px) and (height: 768px) {
  .message-container {
    height: 63vh;
  }
}

@media (width: 1440px) and (height: 900px) {
  .message-container {
    height: 68vh;
  }
}

@media (width: 1600px) and (height: 900px) {
  .message-container {
    height: 68vh;
  }
}
